In [1070]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.svm import SVR
import math
from sklearn.model_selection import KFold

In [1071]:
# Import CVS
cropsDF = pd.read_csv('../data/agri/frontiers/Processed_Iowa+Cerro+Gordo_1960+2009_Annual+Crop.csv')

# Sort by year
cropsDF = cropsDF.sort_values(by='Year')
cropsDF.head()

# jimg Change Year to YEAR so it matches wx data
cropsDF['YEAR'] = cropsDF.Year
cropsDF.drop('Year', axis=1, inplace=True)

cropsDF.Value = cropsDF.Value.astype('float')

cropsDF

,Program,Period,Geo Level,State,Ag District,County,Commodity,Data Item,Domain Category,Value,YEAR
151,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,SOYBEANS,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,19.6,1940
150,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,51.8,1940
148,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,46.5,1941
149,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,SOYBEANS,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,14.9,1941
146,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,56.3,1942
...,...,...,...,...,...,...,...,...,...,...,...
4,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,163.1,2013
3,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,SOYBEANS,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,50.2,2014
2,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,168.3,2014
1,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,SOYBEANS,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,58.9,2015
0,SURVEY,YEAR,COUNTY,IOWA,NORTH CENTRAL,CERRO GORDO,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",NOT SPECIFIED,196.9,2015

In [1072]:
# Filter data, look for 'BU/ACRE' and filter CORN & SOYBEANS
cornDF = cropsDF.loc[(cropsDF['Data Item'].str.contains('BU / ACRE')) & (cropsDF['Commodity'] == 'CORN')]
beansDF = cropsDF.loc[(cropsDF['Data Item'].str.contains('BU / ACRE')) & (cropsDF['Commodity'] == 'SOYBEANS')]

cornDF = cornDF[['YEAR', 'Value']]
beansDF = beansDF[['YEAR', 'Value']]

print('corn\n', cornDF.head())
print('beans\n', beansDF.head())

corn
      YEAR  Value
150  1940   51.8
148  1941   46.5
146  1942   56.3
144  1943   56.6
142  1944   49.8
beans
      YEAR  Value
151  1940   19.6
149  1941   14.9
147  1942   17.7
145  1943   18.8
143  1944   18.6

In [1073]:
# GSP - Growing season precipitation
# GDD - Growing degree days
# GSTmax - Daily max temp avg
# GSTmin - Daily min temp avg
# frost - days < 0 degrees (C)
# summer - days > 25 degrees (C)


weatherDF = pd.read_csv('../data/wx/wx-frontier-agg-3.csv')
weatherDF.head()

# jimg removed averaging, all of these are individual features we need to keep

,Unnamed: 0,YEAR,GSP,GDD,GSTmin,GSTmax,frost,summer,HWI,CWI,dry,wet,PRCP95P
0,1941,1941,3.869512,1555.1,13.099390,25.865244,2,94,21.0,12.0,13,5,4.0
1,1942,1942,3.379878,1327.1,11.957927,24.226220,6,81,11.0,26.0,15,3,5.0
2,1943,1943,3.396341,1303.8,11.908537,23.991463,7,80,12.0,17.0,10,4,2.0
3,1944,1944,3.342331,1467.1,12.899390,24.992073,4,91,17.0,14.0,15,6,2.0
4,1945,1945,3.471951,1130.0,10.643293,23.137195,6,66,10.0,27.0,19,3,5.0

In [1074]:
# combine the weather features and the crop yield
combined = weatherDF.merge(cornDF, on='YEAR')
combined['corn'] = combined.Value
combined.drop('Value', axis=1, inplace=True)
combined = combined.merge(beansDF, on='YEAR')
combined['beans'] = combined.Value
combined.drop('Value', axis=1, inplace=True)
combined

,Unnamed: 0,YEAR,GSP,GDD,GSTmin,GSTmax,frost,summer,HWI,CWI,dry,wet,PRCP95P,corn,beans
0,1941,1941,3.869512,1555.100,13.099390,25.865244,2,94,21.0,12.0,13,5,4.0,46.5,14.9
1,1942,1942,3.379878,1327.100,11.957927,24.226220,6,81,11.0,26.0,15,3,5.0,56.3,17.7
2,1943,1943,3.396341,1303.800,11.908537,23.991463,7,80,12.0,17.0,10,4,2.0,56.6,18.8
3,1944,1944,3.342331,1467.100,12.899390,24.992073,4,91,17.0,14.0,15,6,2.0,49.8,18.6
4,1945,1945,3.471951,1130.000,10.643293,23.137195,6,66,10.0,27.0,19,3,5.0,39.8,16.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2011,2011,2.235671,1428.125,12.427744,24.988415,2,92,20.0,11.0,14,4,0.0,169.3,47.7
71,2012,2012,1.259451,1458.000,11.412805,26.367683,9,107,27.0,15.0,27,3,0.0,124.8,42.5
72,2013,2013,3.569817,1394.850,12.293902,24.716463,4,82,11.0,11.0,21,15,0.0,163.1,40.3
73,2014,2014,3.509146,1235.675,11.458841,23.610366,6,82,2.0,19.0,14,7,0.0,168.3,50.2
74,2015,2015,3.650000,1381.625,12.313415,24.535671,2,89,8.0,5.0,21,5,1.0,196.9,58.9

In [1075]:
# from the paper: "The predictor and response variables were normalized prior 
# to their use by subtracting the mean and dividing by their standard deviation."

feats = ['YEAR', 'GSP', 'GDD', 'GSTmax', 'GSTmin', 'frost', 'summer' ,'HWI', 'CWI', 'dry' ,'wet', 'PRCP95P']
ys = ['corn', 'beans']

def norm(s):
    return (s - s.mean()) / s.std()

for f in feats + ys:
    combined[f] = norm(combined[f])
    
# jimg cross_val_score does not shuffle the data, so make sure we don't get
# test data that's a sequential set of years
combined = combined.sample(frac=1)

combined.head()

,Unnamed: 0,YEAR,GSP,GDD,GSTmin,GSTmax,frost,summer,HWI,CWI,dry,wet,PRCP95P,corn,beans
45,1986,0.367065,0.770087,-0.366333,-0.063910,-0.529374,-0.688414,-0.450715,-0.361302,-0.204625,-0.577854,0.590469,-0.131715,0.843752,0.716762
8,1949,-1.330611,-0.750525,1.149568,0.848412,1.188319,-1.079558,0.580852,1.228899,0.166790,-0.150868,-1.096586,-0.131715,-1.445067,-1.204401
14,1955,-1.055312,-1.183452,1.783853,1.282493,1.868828,-0.297270,1.691770,2.105208,-0.551278,1.557075,-0.253058,-0.131715,-1.403992,-1.558532
53,1994,0.734130,0.655299,0.070318,0.478901,-0.238987,-1.470702,-0.450715,-0.961876,-0.838505,-1.004840,1.855760,-0.131715,0.909929,1.274519
67,2008,1.376494,0.962472,-0.460509,-0.551731,-0.321390,-1.470702,0.263446,-1.400031,-1.125732,-1.004840,0.590469,0.449381,1.329812,1.053187

## Corn Data with weather data

In [1076]:
# Separating the columns to split the data
X = combined[feats]
y = combined['corn']

# Splitting data into 80% training and 20% testing
# jimg cross_val_score will do this
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [1077]:
# Using a SVR model, values
# were taken from the frontiers paper.
# jimg also need linear kernel
model = SVR(kernel='linear', C=0.1, epsilon=0.15)

In [1078]:
# jimg cross_val_score will do this
# model.fit(X_train.to_numpy().reshape(-1, 1), y_train.to_numpy())

In [1079]:
# Predict values using the testing data
# predictions = model.predict(X_test.to_numpy().reshape(-1, 1))

In [1080]:
# Calculate the RMSE
# jimg 'neg_mean_squared_error' is -MSE so negate it

cv = KFold(n_splits=5, shuffle=True)

rmse = -cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv=cv).mean()
r2 = cross_val_score(model, X, y, scoring="r2", cv=cv).mean()

print('r2 %f rmse %f' %(r2, math.sqrt(rmse)))

r2 0.834979 rmse 0.345508

## SOYBEANS with weather data

In [1081]:
# Separating the columns to split the data
X = combined[feats]
y = combined['beans']

In [1082]:
# Calculate the RMSE
# jimg 'neg_mean_squared_error' is -MSE so negate it

cv = KFold(n_splits=5, shuffle=True)

rmse = -cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv=cv).mean()
r2 = cross_val_score(model, X, y, scoring="r2", cv=cv).mean()

print('r2 %f rmse %f' %(r2, math.sqrt(rmse)))

r2 0.825110 rmse 0.407193