In [268]:
# tmax = monthly mean maximum temperature
# tmin = monthly mean minimum temperature
# tavg = average monthly temperature (tmax+tmin)/2
# prcp = total monthly precipitation

In [269]:
import numpy as np
import pandas as pd
import plotly.express as px
from scipy.ndimage.filters import gaussian_filter1d

In [275]:
states = [
    'CA', # California
    'IL', # Illinois
    'IN', # Indiana
    'IA', # Iowa
    'KS', # Kansas
    'MI', # Michigan
    'MN', # Minnesota
    'MO', # Missouri
    'NE', # Nebraska
    'ND', # North Dakota
    'OH', # Ohio
    'SD', # South Dakota
    'WI'  # Wisconsin
]

months = [
    'jan',
    'feb',
    'mar',
    'apr',
    'may',
    'jun',
    'jul',
    'aug',
    'sep',
    'oct',
    'nov',
    'dic'
]

# Set this as the state index to process each state
currState = 0

df = pd.read_csv('../data/wx/wxsummary.csv')
df.shape[0]

6144

In [271]:
# Delete unwated states and keeping
# only the list above

length = df.shape[0]

for i in range(0, length):
    if df['state'][i] not in states:
        df = df.drop([i])

In [272]:
# Get state by state and remove NaN values

df = df.loc[df['state'] == states[currState]]

df = df.dropna(inplace = False)
df

,type,state,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
96,prcp,CA,1990,101.66,65.31,32.97,17.98,67.02,4.00,3.82,7.10,7.51,10.26,16.88,23.31
97,prcp,CA,1991,21.17,62.00,230.23,16.17,17.84,9.92,4.30,5.56,3.27,32.45,24.98,62.12
98,prcp,CA,1992,53.00,165.76,93.83,22.50,3.22,17.80,6.28,2.89,1.17,53.06,12.56,166.04
99,prcp,CA,1993,246.36,150.13,73.45,33.06,37.11,24.78,0.34,3.29,0.40,19.56,42.26,68.45
100,prcp,CA,1994,50.70,103.56,27.01,32.29,26.39,1.59,0.57,0.83,7.92,15.75,106.65,74.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4730,tavg,CA,2016,8.92,12.34,13.03,16.02,18.06,22.89,24.35,23.94,21.32,16.87,12.82,7.76
4731,tavg,CA,2017,7.45,10.34,13.20,14.62,18.52,22.67,25.39,25.10,21.97,17.40,12.90,9.10
4732,tavg,CA,2018,10.45,9.93,11.13,15.14,18.14,21.86,25.77,24.12,21.46,17.36,12.54,8.79
4733,tavg,CA,2019,9.38,7.23,11.28,16.09,16.22,22.04,23.94,24.62,21.37,16.02,12.48,8.89
4734,tavg,CA,2020,8.89,11.08,10.98,15.20,19.12,21.92,24.21,25.54,23.24,19.41,11.46,8.74

In [273]:
# Calculate the mean of every month

newDF = df.drop(['type', 'state', 'year'], axis=1)
df['avg'] = newDF.mean(axis=1)

df

,type,state,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,avg
96,prcp,CA,1990,101.66,65.31,32.97,17.98,67.02,4.00,3.82,7.10,7.51,10.26,16.88,23.31,29.818333
97,prcp,CA,1991,21.17,62.00,230.23,16.17,17.84,9.92,4.30,5.56,3.27,32.45,24.98,62.12,40.834167
98,prcp,CA,1992,53.00,165.76,93.83,22.50,3.22,17.80,6.28,2.89,1.17,53.06,12.56,166.04,49.842500
99,prcp,CA,1993,246.36,150.13,73.45,33.06,37.11,24.78,0.34,3.29,0.40,19.56,42.26,68.45,58.265833
100,prcp,CA,1994,50.70,103.56,27.01,32.29,26.39,1.59,0.57,0.83,7.92,15.75,106.65,74.85,37.342500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4730,tavg,CA,2016,8.92,12.34,13.03,16.02,18.06,22.89,24.35,23.94,21.32,16.87,12.82,7.76,16.526667
4731,tavg,CA,2017,7.45,10.34,13.20,14.62,18.52,22.67,25.39,25.10,21.97,17.40,12.90,9.10,16.555000
4732,tavg,CA,2018,10.45,9.93,11.13,15.14,18.14,21.86,25.77,24.12,21.46,17.36,12.54,8.79,16.390833
4733,tavg,CA,2019,9.38,7.23,11.28,16.09,16.22,22.04,23.94,24.62,21.37,16.02,12.48,8.89,15.796667
4734,tavg,CA,2020,8.89,11.08,10.98,15.20,19.12,21.92,24.21,25.54,23.24,19.41,11.46,8.74,16.649167

In [274]:
# Process graph and save image under images/weather

fig = px.scatter(
    df, 
    x="year", 
    y="avg",
    
    color='type', 
    title='Weather data for '+ states[currState] +' 1990 - 2020'

)

fig.write_image('../images/weather/'+ states[currState] +'.png')